extends admin

block details
    .row
        .features_items
            if products
                each product in products
                    .row
                        .col-sm-3
                            .product-image-wrapper
                                .single-products
                                    .productinfo.text-center
                                        img(src='/img/products/' + product.Image, alt=product.ProductName)
                        .col-sm-6
                            h2.cat= product.ProductName

                            p
                                b Categoria:
                                = ' ' + product.CategoryName

                            p= product.ProductDescription

                            p
                                b Cantidad:
                                = ' ' + product.UnitsInStock
                            p
                                b Fecha de Fabricacion:
                                = ' ' + product.ManufactureYear
                            p
                                b Marca:
                                |  aStore

                            p
                                b Precio:
                                = ' $ ' + product.ProductPrice

                            - var feature = 'Si'
                            if (product.Feature == 0)
                                - feature = 'No'
                            p
                                b Producto Destacado:
                                = ' ' + feature



                        .col-sm-3
                            form.dev-form(action='/admin/products/' + product.ProductID + '/edit', method='GET')
                                button.btn.btn-default(type='submit')
                                    i.fa.fa-edit
                                    = ' Editar'

                            form.dev-form(action='/admin/products/' + product.ProductID + '/delete', method='POST')
                                button.btn.btn-default(type='submit')
                                    i.fa.fa-trash-o
                                    = ' Eliminar'
    form(action='/admin/products/add', method='GET')
        button.btn.btn-default(type='submit')
            i.fa.fa-plus
            = ' Agregar Producto'
    br
    br